/* Hay que modificar los px por otra unidad de medida para que sea responsive */



.fondo_contacto{
    background-image: url(../img/fondoContacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1080px;
}

.contacto{
    position: absolute;
    top: 50%;
    left: 30%;
    background-color: white;
    padding: 50px;
}