.prueba {
    display: flex;
    margin: 100px 0px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.prueba__img {
    width: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
}

.nombre {
    font-weight: bold;
    margin-bottom: 20px;
}

.prueba__img--p {
    height: 170px;
    margin-bottom: 50px;
}