:root {
    --morado: #6C5B7B;
    --blanco: #FFFFFF;
    --negro: #000000;
    --rosa-palido: #FFD3A5;
}

body {
    font-family: 'Arial', sans-serif;
    color: var(--morado);
    background-color: var(--blanco);
}

nav {
    background-color: var(--morado);
}

nav h1, nav a {
    color: var(--blanco);
}

header {
    background-color: var(--morado);
    color: var(--blanco);
    padding: 100px 0;
    text-align: center;
}

h3 {
    border-bottom: 2px solid var(--rosa-palido);
    padding-bottom: 10px;
}

footer {
    margin-top: 20px;
    background-color: var(--negro);
    color: var(--blanco);
    text-align: center;
    padding: 20px 0;
}

a:hover {
    color: var(--rosa-palido);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.lightbox img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    border: 4px solid var(--blanco);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
