

body {
    font-family: 'Quicksand', sans-serif;
    color: #77A290;
    font-size: 20px;
}


    .navbar{
        background-color: #77A290;
        font-size: 22px;
        color: #fcfcd7;
        padding: 0 70;
    }

    #imgLogo{
        width: 120px;
    }

nav h1, nav a {
    color:#fcfcd7;
}

header {
    background-image: url(../img/bg1.PNG);
    color: #fcfcd7;
    padding: 100px 0;
    text-align: center;
}


h2{
    font-weight: bold;
    padding-top: 40px;
}
footer {
    margin-top: 20px;
    background-color: var(--negro);
    color: var(--blanco);
    text-align: center;
    padding: 20px 0;
}

.nav2{
    color: white;
}


a:hover {
    color: white;
    font-weight: bold;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.lightbox img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/*PAGINA DE DISEÑO*/
.container-navLat{
    display: flex;
    
}
.nav-lat{
    background-color: #77A290;
    color: white;
    padding: 20px 90px;
    margin: 0;
}

.nav-lat ul{
    list-style: none;
    padding: 0;
}

.nav-lat li{
    padding: 20px;
    font-size: 25px;
    /*font-weight: bold;*/
}

.nav-lat a{
    background-color:#77A290;
    color: white;
    padding: 10px;
}

.nav-lat a:hover{
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    color: #77A290;
    padding: 10px;
    margin: 0;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

.productos img{
    width: 250px;
    padding: 30px;
}

/*
    En diseño cuando se selecciona una seccion secundaria, es decir, si se clicka en mesa cambia de
*/
#seleccionado a{
    background-color: #fcfcd7;
    color: #77A290;
    padding: 10px;
    font-weight: bold;
}